#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: pink;
}

#navbar.navbar--dark {
    background-color: var(--color-pink);
    padding: 16px;
  }

#navbar a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
#navbar a:hover{
    color: black;
}
.navbar__meun {
    display: flex;
}
.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    list-style: none;
    color: white;
    cursor: pointer;
}
.navbar__menu__item:hover{
    color: black;
}
/* 소개 */
#introduce {
    background: url("./img/japan.bg.jpeg") center/cover no-repeat;
    text-align: center;
    padding: 20px;
}
.swiper{
    width: 700px;
    height: 500px;
    margin: auto;
    padding-top: 10px;
}
/* travel */
/* #travel{
    background-color: pink;
}
.travel__container {
    padding-top: 20px;
    text-align: center;
    color: white;
}
  
.category__btn {
    border: 1px solid plum;
    background-color: white;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px 48px;
    position: relative;
}
.category__btn:hover {
    border: 1px solid red;

} */
.sydney{
    background-color: pink;
}
.travles {
    margin: 40px;
}
.travle {
    display: flex;
    margin: 32px;
}
.travle__img {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    margin: 12px;
}
/* .travle__img:nth-child(odd) {
    margin: 40px;
}
.travle__img:nth-child(even) {
    margin: 40px;
} */
.section__container{
    text-align: center;
    padding: 20px 0 20px 0;
}
.travle-bubble {
    padding: 18px;
    background-color: white;
    border-radius: 4px;
}
/* Scroll */
.arrow-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    font-size: 50px;
    color: red;
    background-color: blue;
    border-radius: 50%;
    opacity: 1;
    pointer-events: none;
    transition: opacity 300ms ease-in;
}
